<h2><%= property.name %></h2>
<h3>Popularidade média: <%= property.positive_percentage %>%</h3>
<%= render :partial => 'tweets', :locals => { :tweets => property.tweets.where(:date => Date.today).limit(7) } %>
