<div class="page-header">
  <h1><%= active_squad.name %></h1>
  <table class="table table-striped">
  	<tr>
  		<th>#</th>
  		<th>Nome</th>
  		<th>% Tweets positivos</th>
  	</tr>
  	<% @players.each do |player| %>
  	<tr>
  		<td><%= player.id %></td>
  		<td><%= player.name %></td>
  		<td><%= player.positive_percentage %></td>
  	</tr>
  	<% end %>
  </table>
</div>