<div class="tabbable tabs-right">
  <ul class="nav nav-tabs">
    <% @players.each do |player| %>
    	<li><%= link_to player.name, show_tweets_path(player.id), :remote => true %></li>
    <% end %>	
  </ul>

  <div class="tab-content">
    <div class="tab-pane active">
      <p>
        <div id="show-tweets">
				  <%= render :partial => 'show_tweets', :locals => { :property => active_squad } %>
        </div>
			</p>
    </div>
  </div>
</div>