<table class="table">
  <tbody>
  	<% tweets.each do |tweet| %>
    <tr>
      	<td><span class="label <%= positive_or_negative_class(tweet.positive) %>"><%= positive_or_negative_text(tweet.positive) %></span> <b><%= tweet.date.strftime("%d/%m/%Y as %I:%M") %></b> - <%= tweet.text %></td>
    </tr>
    <% end %>
  </tbody>
</table>
