<table class="table">
  <thead>
    <tr>
      <th>Tweets</th>
    </tr>
  </thead>
  <tbody>
  	<% tweets.each do |tweet| %>
    <tr>
      	<td><span class="label label-success">Positive</span> <b><%= tweet.date.strftime("%d/%m/%Y as %I:%M") %></b> - <%= tweet.text %></td>
    </tr>
    <% end %>
  </tbody>
</table>
