<br/>
<br/>
<div class="row">
	<div class="span9 well">
		<div class="span8">
			<h2>OLE-UFF Opinion Level Estimation</h2>

			<p>OLE-UFF é uma aplicação desenvolvida pela Equipe de Mineração de Opiniões
			do Departamento de Ciência da Computação da Universidade Federal
			Fluminense (UFF). O objetivo é dar ao usuário a possibilidade de
			acompanhar a popularidade de seleções participantes da Copa do Mundo de
			2014 e de seus principais jogadores.</p>

			<p>O sistema consiste em coletar Tweets que contenham referências
			às seleções e aos jogadores, classificando o conteúdo de cada Tweet
			como sendo uma opinião positiva ou negativa a respeito desses competidores,
			revelando assim a popularidade dos mesmos.</p>

			<p>Os Tweets coletados pelo sistema são categorizados em dois diferentes
grupos: Tweets sobre seleções e Tweets sobre jogadores. Tweets de cada
grupo são, então, classificados, separadamente, quanto aos seus conteúdos,
através de uma estratégia de dois passos. Primeiramente, um classificador
Naive Bayes (diferente para cada grupo de Tweets) os rotula como
subjetivos (que expressam algum sentimento) ou objetivos (que relatam
apenas fatos ou que não expressam nenhum sentimento). Em seguida, um
classificador Naive Bayes e outro SVM são responsáveis por rotular os
Tweets subjetivos sobre jogadores e seleções, respectivamente, quanto às
suas polaridades, ou seja, se tendem a positivos ou negativos.</p>

			<p>Para a construção dos classificadores, foram utilizadas duas bases de
dados de treinamento, uma contendo Tweets referentes a seleções e outra
com Tweets referentes a jogadores, que foram manualmente rotuladas por
três integrantes da Equipe. As taxas de acerto dos classificadores
utilizados foram calculadas a partir da técnica de validação cruzada com
10 partições. Os classificadores Naive Bayes, empregados na classificação
de subjetividade, obtiveram taxas de acerto de 83% na classificação de
Tweets referentes a jogadores e 77% na classificação de Tweets referentes
a seleções. Já os classificadores Naive Bayes e SVM, utilizados na
classificação da polaridade de Tweets sobre jogadores e seleções,
respectivamente,  obtiveram taxas de acerto de 75,22% e 73%,
respectivamente.</p>

			<p>OLE-UFF é resultado do projeto final de graduação do aluno
			Matheus Lima e contou com a colaboração dos mestrandos
			Jonnathan Carvalho e Carlos Augusto Fernandes Filho.
			Todos jogam na Equipe de Mineração de Opiniões do IC,
			coordenada pela pesquisadora Adriana Prado, que realiza
			seu pós-doutorado no IC, e pelo professor Alexandre Plastino.</p>

			<hr/>
			
			<a href="/" class="btn btn-primary btn-large">
	      Voltar
	    </a>
		</div>
	</div>
</div>