<br/>
<br/>
<div class="row">
	<div class="span9 well">
		<div class="span8">
			<h2>OLE-UFF Contato</h2>

			<p>Para entrar em contato com a equipe que desenvolveu o OLE-UFF, basta enviar um e-mail para:</p>

			<ul>
				<li>Matheus Lima: matheusml@gmail.com</li>
				<li>Adriana Prado: abecharra@ic.uff.br</li>
				<li>Alexandre Plastino: plastino@ic.uff.br</li>
				<li>Carlos Augusto: caugusto@ic.uff.br</li>
				<li>Jonnathan Carvalho: joncarv@gmail.com</li>
			</ul>

			<hr/>
			
			<a href="/" class="btn btn-primary btn-large">
	      Voltar
	    </a>
		</div>
	</div>
</div>