<div class="container-fluid">
  <div class="row-fluid">
    
    <div class="span2">
		  <div id="squads">
		  	<%= render :partial => 'squads', :locals => {:squads => @squads, :active_squad => @active_squad} %>
		  </div>
		</div>

    <div class="span10">
    </div>
  </div>
</div>

