<br/>
<br/>
<div class="row">
	<div class="span9 well">
		<div class="span8">
			<h2>OLE-UFF Limitações e Desafios</h2>

			<p>Os problemas tratados pelo sistema OLE-UFF são desafios atuais das áreas de
			pesquisa de Mineração de Sentimento e Análise de Opiniões.
			São problemas ainda com soluções muito limitadas que têm sido alvo de um
			grande esforço de pesquisa por diferentes grupos em todo o mundo.</p>

			<p>Os principais problemas e desafios são:</p>
			
			<ol>
				<li>Coletar Tweets que estejam exclusivamente no escopo d&#8203;e um
				assunto (no caso,&#8203; a Copa do Mundo&#8203;)&#8203;. Poderão ser
				selecionados, equivocadamente, Tweets que falam da conjuntura social ou
				econômica dos países envolvidos.
				Podem ser coletados, também de forma equivocada, Tweets que
				falam das características físicas dos jogadores e não sobre seus
				reais desempenhos esportivos. E ainda Tweets sobre homônimos dos jogadores.</li>

				<li>Apesar de terem sido avaliados e experimentados diferentes
				classificadores considerados estado da arte para o problema,
				a classificação de subjetividade, ou seja, a identificação de
				Tweets que possuam alguma opinião sobre seleções ou jogadores
				possui uma taxa de erro de 19,7% para Tweets sobre seleções e 24,5% para
				Tweets sobre jogadores. Dessa forma, algumas notícias ou Tweets sem
				opiniões serão erradamente apresentados como positivos ou negativos.</li>

				<li>De forma análoga, apesar de terem sido experimentados diferentes
				classificadores considerados estado da arte para o problema,
				a classificação da polaridade (positiva ou negativa) dos Tweets possui uma
				taxa de erro de 26,2% para Tweets sobre seleções e 23,3% para Tweets sobre
				jogadores. Dessa forma, alguns Tweets positivos serão
				considerados negativos e vice-versa, caracterizando um grande desafio
				desta linha de pesquisa.</li>
			</ol>

			<hr/>
			
			<a href="/" class="btn btn-primary btn-large">
	      Voltar
	    </a>
		</div>
	</div>
</div>